* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#productos {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
}

#productos::-webkit-scrollbar {
  width: 1px;
  display: none;
}

#productos::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#productos::-webkit-scrollbar-track {
  background-color: transparent;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 100%;
  height: 40%;
}

.image-container img {
  width: 100%;
  height: auto;
}

::placeholder {
  color: #fff;
}

.search-container {
  width: 100%;
  margin-left: 8%;
}



/* Estilos para el details y summary */
details {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  width: 80%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  margin: 20px;
}

summary, a.categoria-producto{

  color: #fff;
  font-size: 18px; /* Cambiar el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Cambiar el peso de la fuente según sea necesario */
  cursor: pointer;
}


