* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-image-title {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-info {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    /* font-weight: lighter; */
    font-size: 20px;
    width: 50%;
}



.comprar-btn {
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* font-weight: lighter; */
padding: 10px;
    font-size: 1rem;
    background-color: white;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.info{
    /* font-weight: bold; */
    color: black;
    margin-bottom: 20px;
    padding: 15px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.container img {
    width: 50%;
    /* border: 2px solid #000; */
    max-width: 100%; 
}

.nombre-prenda{
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* justify-content: center; */
    text-decoration: underline;
    padding: 10px;
    margin-left: 20%;
}

