*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



h1{
  color: #000;
}
body::-webkit-scrollbar {
    width: 5px;     


  }


  
 

  
  body::-webkit-scrollbar-thumb {
    background-color: #000;    /* color of the scroll thumb */

  }

html,
body {
  height: 100%;
  

}
section {
  height: 100vh;
}





#home{
    background-image: url(../img/Background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
   background-color: #f2f2f2;
}



#productos{

  
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
   
    height: 150vh; /* Set a fixed height for the section */
    overflow: auto; /* Enable scrolling when content overflows the height */
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: thin; /* width of the scrollbar */

    
}
#productos::-webkit-scrollbar {
  width: 1px;
  display: none; /* Oculta el scrollbar */
}


#productos::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#productos::-webkit-scrollbar-track {
  background-color: transparent;
}

#contacto{
    background-color: #f2f2f2;
display: flex;
justify-content: center;
align-items: center;



}


.mensaje-error{

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}



h1{
    
    font-size: 7rem;
    padding-left: 3rem;
}


.login-buttons:link, :visited, :active{
    text-decoration: none;
    color: #000;
    
}


a{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    padding-right: 5px;
    font-size: 1.5rem;
}


.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.phrase{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
}





.search {
  padding: 20px; 
  width: 100%; /* Set to 100% */

  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: none; /* Elimina el borde, si lo hay */
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  cursor: pointer;
}
::placeholder{
  color: #fff;
}
form {
  padding: 10% 5% 2%; /* Ajusta el espacio inferior del formulario */
  width: 90%;

}



.search-container{
  padding: 10px; /* Agrega un espaciado alrededor del contenedor */
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */

  background-color: #f2f2f2; /* Color de fondo del contenedor */
  width: 100%; /* Ocupa el ancho completo de su contenedor */

}

details{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  padding: 10% 0 2%;
}

/* Estilos para ocultar la flecha del details */
details {
  margin-right: 10px; /* Ajusta el margen derecho del details */
}

summary {
  list-style-type: none; /* Oculta la flecha del summary dentro de details */
  cursor: pointer; /* Agrega un cursor indicando que es interactivo */
  display: inline-block; /* Asegura que el summary ocupe solo el espacio que necesita */
}

/* Estilos para el menú desplegable */
details[open] summary + * {
  width: 100%; /* Cambiado a 100% para ocupar todo el ancho */
  height: 50%;
  position: absolute;

  left: 0;
  background-color: #f2f2f2;

}

/* Ajusta el padding del menú desplegable si es necesario */
details[open] summary + * {
  padding: 10px; /* Ajusta según sea necesario */
}


details[open] summary + * {
  max-height: 200px; /* Ajusta la altura deseada al abrir el menú */
  margin-top: 20px; /* Ajusta el margen superior al abrir el menú */
}