* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
}

a {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

p,
.parrafo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
}

html,
body {
  height: 100%;
}

section {
  height: 100vh;
}

#home {
  background-image: url(../img/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
}

#contacto {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 10% 5% 2%;
  width: 90%;
}

.mensaje-error {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
