* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html,
body {
  height: 100%;
  

}
section {
  height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.datos{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}



button {
    appearance: none;
    background-color: transparent;
    padding: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    margin-bottom: 10px;
}

button[type="submit"] {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}





@media only screen and (max-width: 768px) {
    .container-details {
        align-items: center;
    }

    .botones-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

   
}
