* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #000;
  font-size: 7rem;
  padding-left: 3rem;
}

a:link,
:visited,
:active {
  text-decoration: none;
  color: #000;
}

.login-buttons:link,
:visited,
:active {
  text-decoration: none;
  color: #000;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 
}

.phrase {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
}

.logout-button:link,
:visited,
:active {
  text-decoration: none;
  color: #000;
}

.login-buttons {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  text-align: center;
  margin: 20px;
}

a, p{
  font-family: 'Roboto', sans-serif;
}
a{
  margin: 5px;
}

.parrafo{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    text-align: center;
    flex-direction: column;
  

  }

  h1{
    padding:0;
    font-size: 4rem;
  }
  

 
}
