* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../img/background-home.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
  }
  
  .productos {
    background-color: gray;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 400px;
    margin-top: 160px; 
  }
  
  .producto {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
   
  }
  
  .producto img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }
  
  .datos {
    text-align: left;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button i {
    margin-right: 5px;
  }
  
  .formulario {
    background-color: gray;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    padding: 20px;
    margin-top: 20px; 
    margin-left: 5px;
    margin-right: 30px;
  }
  
  .formulario h2 {
    margin-bottom: 20px;
  }
  
  .formulario label {
    display: block;
    margin-top: 10px;
  }
  
  .formulario input[type="text"],
  .formulario input[type="number"],
  .formulario select,
  .formulario textarea,
  .formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    margin-bottom: 15px;
  }
  
  .formulario input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  .boton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
  }
  .boton h2:hover{
    color:yellow;
  }
  
  .boton a {
    text-decoration: none;
    /* background-color: gray;
    opacity: 0.8; */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
  }
p{
    font-family: 'Poppins', sans-serif;
    
}

  
  
  
  
  
  
  